<master-layout>
    <@body>
        <h1>New book</h1>
        <if(input.validations)>
            <for|error| of=input.validations>
                <div>${error.msg}</div>
            </for>
        </if>
        <form action="/books" method="post">
            <if(input.book.id)>
                <input type="hidden" name="_method" value="PUT"/>
                <input type="hidden" name="id" value=input.book.id/>
            </if>
            <div>
                <label for="title">Title:</label>
                <input
                    type="text"
                    id="title"
                    name="title"
                    value=input.book.title
                    placeholder="Insert your title"/>
            </div>
            <div>
                <label for="price">Price:</label>
                <input
                    type="text"
                    id="price"
                    name="price"
                    placeholder="Ex: 150.25"
                    value=input.book.price/>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea
                    cols="20"
                    rows="10"
                    id="description"
                    name="description"
                    placeholder="Insert your description">${input.book.description}</textarea>
            </div>
            <input type="submit" value="Save"/>
        </form>
    </@body>
</master-layout>
