<html>
    <head>
        <title>Codex Store</title>
        <link rel="stylesheet" href="/assets/css/bulma.min.css"/>
        <link rel="stylesheet" href="/assets/css/app.css"/>
    </head>
    <body>
        <${input.body.renderBody}/>
        <if(input.scripts)>
            <${input.scripts.renderBody}/>
        </if>
    </body>
</html>
