<html>
    <head>
        <title>Codex Store</title>
    </head>
    <body>
        <${input.body.renderBody}/>
        <if(input.scripts)>
            <${input.scripts.renderBody}/>
        </if>
    </body>
</html>
