<master-layout>
    <@body>
        <section class="section">
            <div class="container">
                <div class="columns is-centered has-text-centered">
                    <div class="column is-4">
                        <h1 class="title">Codex Store</h1>
                        <p>
                            Please,
                            <a href="/login">login</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </@body>
</master-layout>
