<master-layout>
    <@body>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <div>
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" placeholder="Insert your e-mail"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Insert your password"/>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </@body>
</master-layout>
